@font-face {
	font-family: 'iconfont';
	/* project id 2423256 */
	src: url('//at.alicdn.com/t/font_2423256_yzeieujkw6l.eot');
	src: url('//at.alicdn.com/t/font_2423256_yzeieujkw6l.eot?#iefix') format('embedded-opentype'),
		url('//at.alicdn.com/t/font_2423256_yzeieujkw6l.woff2') format('woff2'),
		url('//at.alicdn.com/t/font_2423256_yzeieujkw6l.woff') format('woff'),
		url('//at.alicdn.com/t/font_2423256_yzeieujkw6l.ttf') format('truetype'),
		url('//at.alicdn.com/t/font_2423256_yzeieujkw6l.svg#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.iconhome:before {
	content: "\e607";
}

.iconfanhui:before {
	content: "\e609";
}

.iconplay1:before {
	content: "\e771";
}

.iconplay:before {
	content: "\e66b";
}

.iconstop:before {
	content: "\e66c";
}

.iconsearch:before {
	content: "\e617";
}
